<%- include('../components/header') -%>


	<div class="container">	
	

		
							<div class="blog-content">
								<span class="meta-date"><a href="#"><%= post.created_at %></a></span>
								<span class="meta-comments"><a href="#blog-comments"></a></span>
								<span class="meta-author"><a href="#blog-author"><%= post.user.name %></a></span>
								<h3><%= post.title %></h3>
								<p><%= post.content %></p>
								<div class="tag-items">
                                    <span class="small-text">Tags:</span>
                                    <a href="#" rel="tag"><%= post.category.name %></a>

                                </div>
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div id="blog-author" class="clearfix">
  
                            <div class="blog-author-info">
                                <h4 class="author-name"><a href="#">Author: <%= post.user.name %></a></h4>
                              
                            </div>
                        </div>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				



	<!-- Scripts -->

	<script src="/static/js/min/medigo-custom.min.js"></script>

	<%- include('../components/footer') -%>
</body>
</html>